{% extends '_base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/app/account_edit.css' %}">
{% endblock %}

{% block content %}
<div class="div py-5" style="max-width: 600px;">
  <h2 class="mb-4">アカウント編集</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.non_field_errors }}
    {{ profile_form.non_field_errors }}

    <div class="mb-3">
      <label class="form-label">ユーザー名</label>
      {{ user_form.username }}
      {{ user_form.username.errors }}
    </div>

    <div class="mb-3">
      <label class="form-label">メールアドレス</label>
      {{ user_form.email }}
      {{ user_form.email.errors }}
    </div>

    <div class="mb-3">
      <label class="form-label">電話番号</label>
      {{ profile_form.phone_number }}
      {{ profile_form.phone_number.errors }}
    </div>

    <div class="mb-3">
      <label class="form-label">プロフィール画像</label><br>
      {% if request.user.userprofile.profile_image %}
        <img src="{{ request.user.userprofile.profile_image.url }}"
             class="rounded-circle mb-2"
             style="width:100px; height:100px; object-fit:cover;">
      {% endif %}
      {{ profile_form.profile_image }}
      {{ profile_form.profile_image.errors }}
    </div>

      <button type="submit" class="btn custom-OK-btn">OK</button>
      <button type="button" class="btn custom-cancel-btn" onclick="location.href='{% url 'home' %}'">戻る</button>

  </form>
</div>
{% endblock %}
