{% extends '_base.html' %}
{% load static %}

{% block title %}チケット案内{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/app/ticket.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5">
  <h1 class="mb-4 text-center">チケット案内</h1>

<div class="div1">
  <div class="row mb-5">
    <div class="col-md-6">
      <h4>料金</h4>
      <table class="table table-bordered mt-3">
        <thead class="table-light">
          <tr>
            <th>種別</th>
            <th>料金</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>一般</td>
            <td>¥1,900</td>
          </tr>
          <tr>
            <td>大学生・専門学生</td>
            <td>¥1,500（学生証提示）</td>
          </tr>
          <tr>
            <td>高校生以下</td>
            <td>¥1,000</td>
          </tr>
          <tr>
            <td>シニア（60歳以上）</td>
            <td>¥1,200</td>
          </tr>
          <tr>
            <td>障がい者割引</td>
            <td>¥1,000（同伴者1名まで同額）</td>
          </tr>
        </tbody>
      </table>
    </div>

<div class="col-md-6">
  <h4>チケット購入方法</h4>
  <ul class="list-group mt-3">
    <li class="list-group-item">
      <a href="{% url 'Online' %}" class="text-decoration-none">オンライン予約（Web・アプリ対応）</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'TicketBuy' %}" class="text-decoration-none">劇場窓口（当日券）</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'QR' %}" class="text-decoration-none">自動券売機（QRコード対応）</a>
    </li>
  </ul>
  <h5 class="mt-4">決済方法</h5>
  <p>
      現金・各種クレジットカード・交通系IC・PayPayなどに対応
    </a>
  </p>
</div>

  </div>
</div>
</div>
{% endblock content %}
