body {
  background-image: url('/static/images/wallpaper.jpg'); 
  background-size: cover;          
  background-position: center;    
  background-repeat: no-repeat;    
  background-attachment: fixed;  
  color: #fff;                    
  margin: 0;
  padding: 0;
  min-height: 100vh;
  animation: fadeZoomIn 0.9s ease-out both;
  font-family: 'Cinzel', serif;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 15px;
  color: #ffcc00;
  background: rgba(12, 12, 12, 0.781);
  border: 3px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.523), 0 0 10px rgba(255, 255, 255, 0.589);
  border-radius: 12px;
  animation: fadeZoomIn 0.9s ease-out both;
}

.access-page {
  color: #fff;
  animation: fadeZoomIn 1.4s ease-out both;
}

h1{
  color: #ffcc00;
}

.access-page .col-md-6 {
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  animation: fadeZoomIn 0.9s ease-out both;
}

.access-page h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #f0c471;
  animation: fadeZoomIn 0.9s ease-out both;
}

.access-page ul {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
  list-style-type: disc;
  color: #fff;
  animation: fadeZoomIn 0.9s ease-out both;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: slideIn 1s ease-out forwards;
}

.custom-navbar {
  background-color: #135034; 
  color: #fff;
}

.nav-item,
.nav-link{
  display: flex;
}

.nav-item {
  position: relative;
  text-decoration: none;
  font-weight: 500;
}
 
.custom-navbar .navbar-brand {
  color: #fff !important;
  text-shadow: 0 0 10px #ffffff88; 
}

.custom-navbar .navbar-brand:hover {
  color: #b7b7b7; 
}

.nav-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 2px 5px 0 0;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 3px;
  width: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  transition: width 0.4s ease;
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}


.roboto-slab-nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.logo-img {
  height: 30px;
  width: auto;
  margin: 0 80px 2px 0;
  transform: scale(2);
  transform-origin: left center;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.footer {
  margin-top: 134px;
  padding: 5px 0 5px;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: rgba(8, 96, 33, 0.533);
  color: #ffffff;
  box-sizing: border-box;
  animation: fadeZoomIn 0.9s ease-out both;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}
