{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<html lang="ja">

<body>

<div class="wrap">
<h2 class="h2">Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
<div class="remember-forgot">
    <label><input type="checkbox" name="remember">保存</label>
</div>
<div class="register">
    <p>アカウントは持っていますか？<a href="{% url 'account_signup' %}" class="">Sign up</a></p>
</div>
<button type="submit" class="btn">ログイン</button>
</form>
</div>

</body>
</html>
{% endblock content %}
