{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %} 

{% block title %}Log out{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
{% endblock %}


{% block content %}

<main class="main">
  <div class="container">
    <h1>ログアウト</h1>
    <p><strong>サインアウトしてもよろしいですか？</strong></p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-danger" type="submit">ログアウトする</button>
    </form>
  </div>
</main>


{% endblock content %}