{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %} 

{% block title %}パスワード変更{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/change.css' %}">
{% endblock %}

{% block content %}
<div class="div1">
  <h2>パスワード変更</h2>
  <div class="security-info">
    <h5><i class="bi bi-shield-check me-2"></i>パスワードのセキュリティ要件</h5>
    <ul>
      <li>8文字以上の長さ</li>
      <li>大文字・小文字・数字を含める</li>
      <li>他のサービスと異なるパスワードを使用</li>
    </ul>
  </div>

  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    
    <button class="btn btn-success" type="submit">
      パスワードを変更
    </button>
  </form>
  
  <div class="back-link">
    <a href="{% url 'home' %}">ホームに戻る</a>
  </div>
</div>
{% endblock content %}