{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<div class="wrap2">
  <h2 class="animated-login-title2" id="animated-title2">
    <span>S</span><span>i</span><span>g</span><span>n</span><span>U</span><span>p</span>
  </h2>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Sign up</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const letters = document.querySelectorAll('.animated-login-title2 span');
    letters.forEach(letter => {
      letter.addEventListener('mouseenter', () => {
        letter.classList.add('hover-animate');
        letter.addEventListener('animationend', () => {
          letter.classList.remove('hover-animate');
        }, { once: true });
      });
    });
  });
</script>

{% endblock content %}
