{% extends '_base.html' %}
{% load static %}

{% block title %}マイ予約一覧{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/app/my_reservations.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">予約一覧</h2>

  {% if reservations %}
  <div class="reservations-list">
    {% for r in reservations %}
      <div class="reservation-card">
        <div class="card-left">
          <img src="{{ r.movie.image.url }}" alt="{{ r.movie.title }}" class="card-img">
        </div>
        <div class="card-right">
          <h5 class="card-title">{{ r.movie.title }}</h5>
          <p class="card-text">
            <strong>座席:</strong> {{ r.seat.seat_number }}<br>
            <strong>上映日時:</strong> {{ r.show_time }}<br>
            <strong>予約日時:</strong> {{ r.reserved_at|date:"Y/m/d H:i" }}<br>
            <strong>金額:</strong> ¥{{ r.movie.price|floatformat:"0" }}
          </p>

          {% if r.qr_code_image %}
          <div class="qr-code">
            <img src="{{ r.qr_code_image.url }}" alt="QRコード" class="qr-thumbnail" data-bs-toggle="modal" data-bs-target="#qrModal{{ r.id }}">
            <p class="small text-white" style="font-size: 0.6rem; ">※当日このQRコードを受付に提示</p>
          </div>

          <div class="modal fade" id="qrModal{{ r.id }}" tabindex="-1" aria-labelledby="qrModalLabel{{ r.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="qrModalLabel{{ r.id }}">QRコード（{{ r.movie.title }}）</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                </div>
                <div class="modal-body text-center">
                  <img src="{{ r.qr_code_image.url }}" alt="QRコード" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <form action="{% url 'cancel_reservation' r.id %}" method="post" class="mt-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">キャンセル</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <p class="no-reservations">予約履歴がありません。</p>
  {% endif %}

  <div class="text-center mt-4">
    <a href="{% url 'movie_list' %}" class="btn btn-primary">映画一覧へ戻る</a>
  </div>
</div>
{% endblock %}

{% block javascript %}
<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>

<!-- Project JS -->
<script src="{% static 'js/movie.js' %}"></script>
{% endblock javascript %}
