html,body {
  background-image: url('/static/images/wallpaper.jpg'); 
  background-size: cover;          
  background-position: center;    
  background-repeat: no-repeat;    
  background-attachment: fixed;  
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Cinzel', serif;
}

.account-delete-container {
  max-width: 500px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(30, 30, 30, 0.85);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 3rem 2rem;
  border-radius: 16px;
  font-family: 'Cinzel', serif;
  text-align: center;
  flex: 1;
  position: relative;
  animation: fadeZoomIn 0.8s ease-out both;
}


.account-delete-container,
.account-delete-container h2,
.account-delete-container p,
.account-delete-container button,
.account-delete-container a {
  color: #fff !important;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4b6cb7, #182848);
  box-shadow: 0 0 20px #4b6cb7aa, inset 0 0 10px #18284888;
  color: white;
}

#cancelModal .modal-body {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

#cancelModal .modal-footer {
  justify-content: center;
  gap: 1rem;
}

#time-slot-container {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.no-reservations {
  text-align: center;
  font-size: 1.1rem;
  padding: 2rem;
  color: #000;
}

.custom-cancel-btn {
  background-color: #57929b;
  color: #ffffff;
  border: none;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 24px;
  font-family: 'Cinzel', serif;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.custom-OK-btn {
  background: linear-gradient(135deg, #ff4a4a, #cc0000);
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 24px;
  font-family: 'Cinzel', serif;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.custom-cancel-btn:hover {
  background: linear-gradient(135deg, #759f9acc, #415b58cc);
  box-shadow: 0 0 25px #759f9acc, inset 0 0 10px #759f9acc;
}

.custom-OK-btn:hover {
  background: linear-gradient(135deg, #ff2222, #aa0000);
  box-shadow: 0 0 25px #dd1111ee, inset 0 0 10px #dd1111ee;
}

.modal-header {
  justify-content: center !important;
  position: relative;
  color: #fff;
}
.modal-header .btn-close {
  position: absolute;
  right: 1rem;
}

.modal-title{
  color: #fff;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4b6cb7, #182848);
  box-shadow: 0 0 20px #4b6cb7aa, inset 0 0 10px #18284888;
  color: white;
}


#cancelModal .modal-body {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

#cancelModal .modal-footer {
  justify-content: center;
  gap: 1rem;
}

#time-slot-container {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.no-reservations {
  text-align: center;
  font-size: 1.1rem;
  padding: 2rem;
  color: #000;
}

.custom-cancel-btn {
  background-color: #57929b;
  color: #ffffff;
  border: none;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 24px;
  font-family: 'Cinzel', serif;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.custom-OK-btn {
  background: linear-gradient(135deg, #ff4a4a, #cc0000);
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 24px;
  font-family: 'Cinzel', serif;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.custom-cancel-btn:hover {
  background: linear-gradient(135deg, #759f9acc, #415b58cc);
  box-shadow: 0 0 25px #759f9acc, inset 0 0 10px #759f9acc;
}

.custom-OK-btn:hover {
  background: linear-gradient(135deg, #ff2222, #aa0000);
  box-shadow: 0 0 25px #dd1111ee, inset 0 0 10px #dd1111ee;
}

.modal-header {
  justify-content: center !important;
  position: relative;
  color: #fff;
}
.modal-header .btn-close {
  position: absolute;
  right: 1rem;
}

.modal-title{
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: slideIn 1s ease-out forwards;
}

.custom-navbar {
  background-color: #135034; 
  color: #fff;
}

.nav-item,
.nav-link{
  display: flex;
}

.nav-item {
  position: relative;
  text-decoration: none;
  font-weight: 500;
}
 
.custom-navbar .navbar-brand {
  color: #fff !important;
  text-shadow: 0 0 10px #ffffff88; 
}

.custom-navbar .navbar-brand:hover {
  color: #b7b7b7; 
}

.nav-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 2px 5px 0 0;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 3px;
  width: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  transition: width 0.4s ease;
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}


.roboto-slab-nav {
  font-family: 'Cinzel', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.logo-img {
  height: 30px;
  width: auto;
  margin: 0 80px 2px 0;
  transform: scale(2);
  transform-origin: left center;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

  .custom-title {
    color: #135034;
  }

h2{
  padding: 12px 0;
  color: #ffcc00;
}

.account-delete-container h2 {
  color: #f0c471;  /* 好きな色コードに変更してください */
}

.card-img-top {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  transition: transform 0.5s ease, filter 0.4s ease, box-shadow 0.4s ease;
  opacity: 0;
  transform: scale(1) translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.card-img-top:hover {
  transform: scale(1.1) translateY(-10px); 
  filter: brightness(1.3) contrast(1.1);   
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.6);  
}

.fade-in-img, .fade-in-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-img.visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

.fade-in-text.visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s; 
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5x 0 3px 0;
  background-color: rgba(8, 96, 33, 0.533);
  color: #ffffff;
  text-align: center;
  z-index: 100;
}


.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer .list-inline-item:last-child {
  display: block;
  margin-top: 8px;
}