body {
  background-image: url('/static/images/wallpaper.jpg'); 
  background-size: cover;          
  background-position: center;    
  background-repeat: no-repeat;    
  background-attachment: fixed;  
  color: #fff;                    
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Cinzel', serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: slideIn 1s ease-out forwards;
}

.custom-navbar {
  background-color: #135034; 
  color: #fff;
}

.nav-item,
.nav-link{
  display: flex;
}

.nav-item {
  position: relative;
  text-decoration: none;
  font-weight: 500;
}
 
.custom-navbar .navbar-brand {
  color: #fff !important;
  text-shadow: 0 0 10px #ffffff88; 
}

.custom-navbar .navbar-brand:hover {
  color: #b7b7b7; 
}

.nav-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 2px 5px 0 0;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 3px;
  width: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  transition: width 0.4s ease;
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}


.roboto-slab-nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.logo-img {
  height: 30px;
  width: auto;
  margin: 0 80px 2px 0;
  transform: scale(2);
  transform-origin: left center;
}

.footer {
  margin-top: 100px;
  padding: 5px 0 5px;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: rgba(8, 96, 33, 0.533);
  color: #ffffff;
  box-sizing: border-box;
  animation: fadeZoomIn 1.6s ease-out both;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}